<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head.html :: copy"></div>
<body>

<div th:replace="navbar.html :: copy"></div>

<div th:replace="sidebar.html :: copy"></div>

<p class="container">
    <div class="card">
        <strong th:text="${category.name}">Category Title</strong>
    </div>
<br>
<div class="container">

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img th:attr="src='/static/img/product_' + ${prod.id} + '.png'" alt="" />
                <div class="card-header colorize">
                    <h4 class="card-title" th:text="${prod.name}">Artist</h4>
                    <p class="card-text" th:text="${prod.description}">Album title</p>
                </div>
                <div class="card-body">
                    <div class="card-text toCenter">
                        <p class="lead" th:text="${prod.getPrice()}">Price</p>
                    </div>
                    <div class="card-text toCenter">
                        <a class="btn btn-outline-danger" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br><br><br><br>
<div th:replace="footer.html :: copy"></div>

<script src="/static/js/addToCart.js"></script>
</script>

</body>
</html>