@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.header {
    background-color: indianred;
    padding-left: 40px;
    height: 140px;
}

img {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.logo {
    padding-left: 170px;
    padding-top: 30px;
    color: #eeeeee;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
}

#cart {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-right: 80px;
    background-color: #262626;
}

.fas {
    color: white;
}

.navbar {
    position: absolute;
    top: 90px;
    left: 270px;
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
}

.navbar li{
    display: inline;
    margin-right: 20px;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}

.footer {
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    color: black;
    background: indianred;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}